.project-section {
    padding: 20px;
    color: #000000;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    grid-template-rows: 1fr 6fr;
  }

.project-section h2 {
  color: #000000;
  font-size: xx-large;
  flex: 1
}

.project-content {
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 6;
}

.project-text li {
  margin-bottom: 10px; /* Add space between list items */
}
